extends templates/layout

block content
    div.container
        h1.header Available Polls

        p.
            Here you find all polls, which are available for you.



        div
            each item in public_polls
                each value, index in item
                    if (index=='creator')
                        - var creator = value;
                    else if(index=='id')
                        - var id = value;
                    else
                        div.availablePoll
                            div
                                h4.pollTitle= value
                                span.pollCreator Creator: #{creator}

                                form(method='POST', action='pollExecution')
                                    input(type='hidden', name='id', value=id)
                                    input(type='hidden', name='pollName', value=value)
                                    br
                                    input(type='submit', value='Execute this Poll')
                            div
                                form(method='POST', action='answers')
                                    input(type='hidden', name='id', value=id)
                                    input(type='hidden', name='pollName', value=value)
                                    input(type='submit', value='Show Answers')

            else
                span.alert.alert-info(role='alert') Sorry there are no polls available


